<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="{% url 'user:dashboard' %}">
      <span class="align-middle">Nissan Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header"></li>

      <li
        class="sidebar-item {% if 'dashboard' in request.path %} active {%endif%}"
      >
        <a class="sidebar-link" href="{% url 'user:dashboard' %}">
          <i class="align-middle" data-feather="server"></i>
          <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li
        class="sidebar-item {% if 'requests' in request.path %} active {%elif 'city' in request.path %}active {%endif%}"
      >
        <a class="sidebar-link" href="{% url 'user:request' %}">
          <i class="align-middle" data-feather="monitor"></i>
          <span class="align-middle">Approvals</span>
        </a>
      </li>

      <li
        class="sidebar-item {% if 'master' in request.path %} active {%endif%}"
      >
        <a class="sidebar-link" href="{% url 'user:master' %}">
          <i class="align-middle" data-feather="database"></i>
          <span class="align-middle">Data insights</span>
        </a>
      </li>
      <li
        class="sidebar-item {% if 'forwarder' in request.path %} active {%endif%}"
      >
        <a class="sidebar-link" href="{% url 'user:forwarder' %}">
          <i class="align-middle" data-feather="play"></i>
          <span class="align-middle">Forwarders</span>
        </a>
      </li>
      <!-- <li class="sidebar-item  {% if 'lot' in  request.path %} active {%endif%}">
                <a class="sidebar-link" href="{% url 'user:lotlocation' %}">
                    <i class="align-middle" data-feather="map-pin"></i> <span class="align-middle">Lot Location</span>
                </a>
            </li> -->
      <li class="sidebar-item {% if 'code' in request.path %} active {%endif%}">
        <a class="sidebar-link" href="{% url 'user:codegen' %}">
          <i class="align-middle" data-feather="code"></i>
          <span class="align-middle">Code Generator</span>
        </a>
      </li>
      <li class="sidebar-item {% if 'mail' in request.path %} active {%endif%}">
        <a class="sidebar-link" href="{% url 'user:mailconfig' %}">
          <i class="align-middle" data-feather="mail"></i>
          <span class="align-middle">Forwarder Mail Config</span>
        </a>
      </li>
      <li class="sidebar-item {% if 'create' in request.path %} active {%endif%}">
        <a class="sidebar-link" href="{% url 'user:createcode' %}">
          <i class="align-middle" data-feather="save"></i>
          <span class="align-middle">Create Code</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
